---
import type { Tema } from "@interfaces/Tema";
import type { Usuario } from "@interfaces/Usuario";

import DeleteComponent from "./DeleteTema";
import Edit from "./Edit.astro";

import CheckboxTema from "@components/utils/checkboxTema";

interface Props {
    tema?: Tema;
    usuario?: Usuario | false;
}

const { tema, usuario } = Astro.props;
---

<div class="flex flex-col justify-center items-center rounded-lg w-full p-10 bg-slate-700 bg-opacity-80">
    <span class="flex w-full justify-between items-center gap-20">
        <h1 class="text-4xl font-bold text-white"> {tema?.titulo}</h1>
        <p class="text-2xl text-white">{ tema?.descripcion }</p>
        {
            usuario && usuario.tipo === "admin" && 
            <Edit id_tema={tema?.id} />
        }
        {
            usuario && usuario.tipo === "admin" && 
            <DeleteComponent id_tema={tema?.id} client:load />
        }
        {
            usuario && (usuario.tipo === "admin" || usuario.tipo === "profesor") && 
            <CheckboxTema tema={tema} defaultChecked={!tema?.bloqueado} usuario={usuario} client:load />
        }
    </span>

    <slot />
</div>
