---
import Layout from '@layouts/HomeLayout.astro';

import TemaItem from "@components/temas/TemaItem.astro";
import InsigniaBase from '@components/mainMenu/InsigniaBase.astro';
import FormularioInsignia from '@components/mainMenu/FormularioInsignia';

import { getTemas } from "@services/temas";
import { getSesion } from "@services/login";

const temas = await getTemas();
const usuario = await getSesion(Astro.request);

if (!usuario) {
  return Astro.redirect("/home");
}
---

<Layout title="PDOOLingo - Insignias">
  <div class="flex flex-col gap-10 p-20 w-full lg:w-4/5 mx-auto">
    {temas?.map((tema) => 
      <TemaItem tema={tema} usuario={usuario}>
        <InsigniaBase id_tema={tema.id} id_usuario={usuario.id}/>
        {usuario && usuario.tipo === "admin" && <FormularioInsignia id_tema={tema.id} client:load/>}
      </TemaItem>)
    }
  </div>
</Layout>