---
import Logo from '../icons/Logo.astro'
import SideMenuItem from './SideMenuItem.astro'
import Home from '../icons/Home.astro'
import Temas from '../icons/Temas.astro'
import Ejercicios from '../icons/Ejercicios.astro'
import Perfil from '../icons/Perfil.astro'
import Insignia from '../icons/Insignia.astro'
import Vidas from '../icons/Vidas.astro'
import Experience from '../icons/Experience.astro'

let pathname : String = Astro.url.pathname;
pathname = pathname.split("/")[1];

let home = pathname == "home" ? "true" : "false";
let perfil = pathname == "login" ? "true" : "false";                // TODO: cambiar a perfil o login segun corresponda.
let temas = pathname == "temas" ? "true" : "false";
let ejercicios = pathname == "ejercicios" ? "true" : "false";
let insignias = pathname == "insignias" ? "true" : "false";
---

<nav class="flex flex-col flex-1 p-2 gap-2" >
    <div class="flex justify-center items-center p-2" >
        <Logo />
    </div>

    <div class="bg-slate-900 rounded-lg p-2" >
        <ul>
            <SideMenuItem href="/home/" text="INICIO" selected={home}>
                <Home/>
            </SideMenuItem> 

            <SideMenuItem href="/login/" text="PERFIL" selected={perfil}>  <!-- TODO: Cambiar href según corresponda -->
                <Perfil/>
            </SideMenuItem>
        </ul>
    </div>

    <div class="bg-slate-900 rounded-lg p-2 flex-1" >
        <ul>
            <SideMenuItem href="./" text="TEMAS" selected={temas}>   <!-- TODO: cambiar href -->
                <Temas/>
            </SideMenuItem>

            <SideMenuItem href="./" text="EJERCICIOS" selected={ejercicios}>   <!-- TODO: cambiar href -->
                <Ejercicios/>
            </SideMenuItem>

            <SideMenuItem href="/insignias/" text="INSIGNIAS" selected={insignias}>
                <Insignia/>
            </SideMenuItem>

            <SideMenuItem text="5/5" selected="false" notSelectable='true'>
                <Vidas/>
            </SideMenuItem>

            <SideMenuItem text="0/5000" selected="false" notSelectable='true'>    <!-- TODO: Cambiar experiencia -->
                <Experience/>
            </SideMenuItem>
        </ul>
    </div>
</nav>
