---
import Error from './Error.astro';

interface Respuestas {
  [key: string]: { texto: string };
}

const errors = { enunciado: "", experiencia: "", coste_pista: "" };

if (Astro.request.method === "POST") { 
  try {
    const data = await Astro.request.formData();
    const enunciado = data.get('enunciado');
    const tipo = data.get('tipo');
    const experiencia = parseInt(data.get('Experiencia') as string);
    const tipo_coste_pista = data.get('tipo_coste_pista');
    const coste_pista = parseInt(data.get('coste_pista') as string);

    if (experiencia > 1000 || experiencia < 1) {
      errors.experiencia = 'La experiencia debe ser un número entre 1 y 1000';
    }

    if (tipo_coste_pista === 'Vidas' && (coste_pista > 5 || coste_pista < 0)) {
      errors.coste_pista = 'No puedes sobrepasar el número de vidas máximo en el coste.';
    } else if (tipo_coste_pista === 'Experiencia' && (coste_pista > experiencia || coste_pista < 0)) {
      errors.coste_pista = 'El coste de la pista debe ser un número entre 0 y la experiencia del ejercicio.';
    }

    const bodyEjercicio = {
      enunciado,
      tipo,
      experiencia,
      tipo_coste_pista,
      coste_pista,
    };

    let respuestaCount = 1;
    let respuestas: Respuestas = {};

    while (data.has(`respuesta${respuestaCount}`)) {
      const valor = data.get(`respuesta${respuestaCount}`);
      if (valor) {
        const texto = valor.toString();
        respuestas[`respuesta${respuestaCount}`] = { texto };
      }
      respuestaCount++;
    }

    console.log(respuestas);
    console.log(bodyEjercicio);

  } catch(error) {
    console.error('Error al crear el ejercicio');
  }
}
---

<form method="POST" id="formulario" class="flex flex-col rounded-xl border p-7 mb-2 gap-5 w-full sm:w-4/5">
  <div class="flex flex-col sm:flex-row gap-2 items-center rounded-xl bg-green-800 p-5">
    <label class="font-bold" for="enunciado">Enunciado:</label>
    <textarea
      class="rounded-xl p-1 text-center resize-none min-h-[1px] w-full text-black"
      id="enunciado"
      name="enunciado"
      placeholder="Agrega el enunciado"
      required
    ></textarea>
  </div>
  {errors.enunciado && <Error texto={errors.enunciado}/>}

  <div class="flex flex-col sm:flex-row gap-2 rounded-xl bg-green-800 p-3 items-center justify-center w-full xl:w-1/3 mx-auto">
    <label class="font-bold p-1" for="tipo_ejer">Tipo:</label>
    <select class="rounded-xl p-1 w-full sm:w-auto text-black" id="tipo_ejer" name="tipo">
      <option value="Flecha">Flecha</option>
      <option value="Unir">Unir</option>
      <option value="Rellenar">Rellenar</option>
      <option value="Texto">Texto</option>
    </select>

    <input
      class="rounded-xl p-1 text-center w-full sm:w-1/3 text-black"
      type="number"
      id="xp"
      name="Experiencia"
      placeholder="Experiencia"
      required
    />
    {errors.experiencia && <Error texto={errors.experiencia}/>}
  </div>

  <div class="flex flex-col sm:flex-row gap-2 rounded-xl bg-green-800 p-3 items-center justify-center w-full xl:w-1/3 mx-auto">
    <label class="font-bold p-1" for="tipo">Coste Pista:</label>
    <select class="rounded-xl p-1 w-full sm:w-auto text-black" id="tipo" name="tipo_coste_pista">
      <option value="Experiencia">Experiencia</option>
      <option value="Vidas">Vidas</option>
    </select>

    <input
      class="rounded-xl p-1 text-center w-full sm:w-1/3 text-black"
      type="number"
      id="coste"
      name="coste_pista"
      placeholder="Coste"
      required
    />
  </div>
  {errors.coste_pista && <Error texto={errors.coste_pista}/>}

  <div class="flex flex-col gap-2" id="respuestas">
    <input
      class="rounded-xl p-1 text-center w-full sm:w-2/5 mx-auto"
      type="text"
      id="respuesta1"
      name="respuesta1"
      placeholder="Agrega el texto de la respuesta"
    />
    <input
      class="rounded-xl p-1 text-center w-full sm:w-2/5 mx-auto"
      type="text"
      id="respuesta2"
      name="respuesta2"
      placeholder="Agrega el texto de la respuesta"
    />
    <input
      class="rounded-xl p-1 text-center w-full sm:w-2/5 mx-auto"
      type="text"
      id="respuesta3"
      name="respuesta3"
      placeholder="Agrega el texto de la respuesta"
    />
    <input
      class="rounded-xl p-1 text-center w-full sm:w-2/5 mx-auto"
      type="text"
      id="respuesta4"
      name="respuesta4"
      placeholder="Agrega el texto de la respuesta"
    />
  </div>

  <button class="rounded-xl p-3 bg-green-800 mt-4 w-full md:w-1/4 mx-auto" type="button" id="agregarRespuestaBtn">
    Agregar respuesta
  </button>
  <button class="rounded-xl p-3 bg-green-800 mt-2 w-full md:w-1/4 mx-auto" type="submit">Registrar ejercicio</button>
</form>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    let respuestaCount = 4;

    function agregarRespuesta() {
      respuestaCount++;
      const respuestasDiv = document.getElementById('respuestas');
      const newInput = document.createElement('input');
      newInput.setAttribute('type', 'text');
      newInput.setAttribute('id', `respuesta${respuestaCount}`);
      newInput.setAttribute('name', `respuesta${respuestaCount}`);
      newInput.setAttribute('class', 'rounded-xl p-1 text-center w-full sm:w-2/5 mx-auto');
      newInput.setAttribute('placeholder', 'Agrega el texto de la respuesta');
      respuestasDiv?.appendChild(newInput);
    }

    const agregarRespuestaBtn = document.getElementById('agregarRespuestaBtn');
    agregarRespuestaBtn?.addEventListener('click', agregarRespuesta);
  });
</script>
